<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" th:href="@{/favicon.ico}" />
    <meta th:name="_csrf" th:content="${_csrf.token}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캣톡 : CATTALK</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/fonts-local.css}">

    <script th:inline="javascript">
        /*<![CDATA[*/
        let senderNickname = /*[[${senderNickname}]]*/ '';
        let receiverNickname = /*[[${receiverNickname}]]*/ '';
        /*]]>*/
    </script>

</head>

<body class="max-w-[60rem] h-dvh m-auto">

    <div class="flex flex-col w-full min-h-full bg-slate-50">


        <!-- 헤더 부분 -->
        <div class="flex items-center bg-[#e3c8b3] p-3 fixed top-0 left-0 right-0 max-w-[60rem] m-auto z-50">
            <a href="/friends">
                <img th:src="@{/images/icon_back.png}" class="w-7 h-7 object-contain">
            </a>
            <img th:src="@{/images/profile_default.png}" class="w-10 h-10 object-contain rounded-full ml-4 mr-2">
            <div th:text="${receiverNickname}"></div>
        </div>

        <!-- 대화 내용 -->
        <div class="w-full pt-20 pb-10" id="chat-box">

            <!-- 받은 메시지 시작 -->
            <!-- <div class="overflow-hidden mb-4">
                        <div class="w-3/5 pl-2">
                            <p class="bg-[#ebebeb] rounded-md text-[#646464] text-sm m-0 px-3 py-2 w-full">
                                Lorem Ipsum refers to text that the DTP (Desktop Publishing) industry use as
                                replacement text when
                                the real text is not
                            </p>

                            <span class="text-[#747474] block text-xs mt-2"> 11:18 | Today</span>
                        </div>
                    </div> -->
            <!-- 받은 메시지 끝 -->

            <!-- 보낸 메시지 시작 -->
            <!-- <div class="overflow-hidden my-6">
                        <div class="float-right pr-2 w-3/5">
                            <p class="bg-amber-700 rounded-md text-sm m-0 text-white px-3 py-2 w-full">
                                Lorem Ipsum refers to text that the DTP (Desktop Publishing) industry use as
                                replacement text when
                                the real text is not
                            </p>
                            <span class="text-[#747474] block text-xs mt-2"> 11:18 | Today</span>
                        </div>
                    </div> -->
            <!-- 보낸 메시지 끝 -->

        </div>

        <!-- 입력창 부분 -->
        <div class="border-t border-[#c4c4c4] bg-slate-50 fixed bottom-0 left-0 right-0 max-w-[60rem] m-auto z-50">
            <div class="flex">
                <input id="chat-send-msg" type="text"
                    class="bg-transparent border-none text-[#4c4c4c] text-base w-full p-3"
                    placeholder="Type a message" />
                <button id="chat-send-btn" class="bg-amber-700 w-20 rounded-sm text-white cursor-pointer right-0"
                    type="button">
                    전송
                </button>
            </div>
        </div>


    </div>


    <script th:src="@{/js/chat.js}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>

</html>