<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATTALK</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/fonts-local.css}">

    <script th:inline="javascript">
        /*<![CDATA[*/
        var senderNickname = /*[[${senderNickname}]]*/ '';
        var receiverNickname = /*[[${receiverNickname}]]*/ '';
        /*]]>*/
    </script>

</head>

<body class="h-screen max-w-[60rem] m-auto">

    <div class="flex flex-wrap h-full">

        <div class="w-full h-full">

            <div id="user_chat_data" class="bg-slate-50 flex flex-col h-full">
                <!-- 헤더 부분 -->
                <div class="flex items-center bg-amber-700/30 px-7 py-3">
                    <img th:src="@{/images/profile_default.png}"
                        class="w-10 h-10 object-contain rounded-full">
                    <div th:text="${receiverNickname}" class="px-4"></div>
                </div>

                <!-- 대화 내용 -->
                <div class="w-full pt-4 flex-grow overflow-y-auto" id="chat-box">

                    <!-- 받은 메시지 시작 -->
                    <!-- <div class="overflow-hidden mb-4">
                        <div class="w-3/5 pl-2">
                            <p class="bg-[#ebebeb] rounded-md text-[#646464] text-sm m-0 px-3 py-2 w-full">
                                Lorem Ipsum refers to text that the DTP (Desktop Publishing) industry use as
                                replacement text when
                                the real text is not
                            </p>

                            <span class="text-[#747474] block text-xs mt-2"> 11:18 | Today</span>
                        </div>
                    </div> -->
                    <!-- 받은 메시지 끝 -->

                    <!-- 보낸 메시지 시작 -->
                    <!-- <div class="overflow-hidden my-6">
                        <div class="float-right pr-2 w-3/5">
                            <p class="bg-amber-700 rounded-md text-sm m-0 text-white px-3 py-2 w-full">
                                Lorem Ipsum refers to text that the DTP (Desktop Publishing) industry use as
                                replacement text when
                                the real text is not
                            </p>
                            <span class="text-[#747474] block text-xs mt-2"> 11:18 | Today</span>
                        </div>
                    </div> -->
                    <!-- 보낸 메시지 끝 -->

                </div>

                <!-- 입력창 부분 -->
                <div class="border-t border-[#c4c4c4] mt-auto">
                    <div class="flex">
                        <input id="chat-send-msg" type="text"
                            class="bg-transparent border-none text-[#4c4c4c] text-base w-full p-3"
                            placeholder="Type a message" />
                        <button id="chat-send-btn"
                            class="bg-amber-700 w-20 rounded-sm text-white cursor-pointer right-0" type="button">
                            전송
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>








    <script>


        document.querySelector("#chat-send-btn").addEventListener("click", () => {


        });


        document.querySelector("#chat-send-msg").addEventListener("keydown", (e) => {

            // ENTER키 입력시
            if (e.keyCode === 13) {

            }

        });



        // new EventSource()는 Server-Sent Events (SSE)를 활용하여
        // 서버로부터 실시간 데이터를 수신하기 위한 객체를 생성하는 데 사용됨
        const eventSource = new EventSource("/api/chat?sender=" + senderNickname + "&receiver=" + receiverNickname);

        eventSource.onmessage = (e) => {

            let data = JSON.parse(e.data);

            if (data.sender === senderNickname) {
                addMsg(data.msg, senderMsg);
            }
            else {
                addMsg(data.msg, recevierMsg);
            }

        }



        // 왼쪽/오른쪽 배치 함수와 메시지를 이용해서 메시지를 화면에 추가
        const addMsg = (msg, callbackFn) => {

            let chatBox = document.querySelector("#chat-box");
            let chatInnerBox = document.createElement("div");
            chatInnerBox.innerHTML = callbackFn(msg);
            chatBox.append(chatInnerBox);

            // 스크롤을 항상 밑으로 내린다
            chatBox.scrollTop = chatBox.scrollHeight;
        }




        // 상대방 메시지는 왼쪽에 배치
        const recevierMsg = (msg) => {

            return `<div class="overflow-hidden mb-4">
                <div class="w-3/5 pl-2">
                    <p class="bg-[#ebebeb] rounded-md text-[#646464] text-sm m-0 px-3 py-2 w-full">
                        ${msg}
                    </p>

                    <span class="text-[#747474] block text-xs mt-2"> 11:18 | Today</span>
                </div>
            </div>`
        }



        // 본인 메시지는 오른쪽 배치
        const senderMsg = (msg) => {

            return `<div class="overflow-hidden my-6">
                <div class="float-right pr-2 w-3/5">
                    <p class="bg-amber-700 rounded-md text-sm m-0 text-white px-3 py-2 w-full">
                        ${msg}
                    </p>
                    <span class="text-[#747474] block text-xs mt-2"> 11:18 | Today</span>
                </div>
            </div>`
        }


    </script>







    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>

</html>