<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" th:href="@{/favicon.ico}" />
    <meta th:name="_csrf" th:content="${_csrf.token}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATTALK</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/fonts-local.css}">
</head>

<body class="h-screen max-w-[60rem] m-auto noto-sans-kr flex flex-col">
    
    
    <header>
        <div th:replace="~{layout/header :: header}"></div>
    </header>


    <div class="flex-1 bg-amber-700/30 overflow-y-auto">
        <div class="flex flex-col items-center justify-center h-full">
                <a href="/config/friends" 
                    class="bg-white w-2/3 h-1/6 px-1 flex items-center justify-center
                    text-2xl rounded-lg my-5 cursor-pointer hover:text-white hover:bg-amber-700">
                    친구 관리
                </a>
                <a href="/config/profile" 
                    class="bg-white w-2/3 h-1/6 px-1 flex items-center justify-center
                    text-2xl rounded-lg my-5 cursor-pointer hover:text-white hover:bg-amber-700">
                    개인정보 설정
                </a>
        </div>
    </div>
    

    <footer>
        <div th:replace="~{layout/footer :: footer}"></div>
    </footer>


</body>
</html>