<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATTALK</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/fonts-local.css}">

</head>

<body class="h-screen max-w-[60rem] m-auto noto-sans-kr flex flex-col">
    <div class="h-24 flex items-center justify-between">
        <a href="/"
            class="h-full">
            <img th:src="@{/images/logo_row.png}" alt="로고"
                class="h-full px-7 py-5"/>
        </a>
        <a href="/logout"
            class="mr-5 hover:opacity-30">
            로그아웃
        </a>
    </div>
    <div class="flex-1 bg-amber-700/30 overflow-y-auto">
        <div th:text="|친구 ${friends.size()}명|"
            class="px-5 pb-1 pt-2 text-sm"></div>
        <ul>
            <li th:each="friend : ${friends}">
                <div class="bg-amber-700 bg-opacity-0 hover:bg-opacity-30">
                    <a th:href="@{/chat/{nickname}(nickname=${friend.nickname})}"
                        class="flex items-center p-5">
                        <img th:src="@{/images/profile_default.png}" alt="프로필 이미지"
                            class="rounded-full w-16 h-16 object-contain" />
                        <div th:text="${friend.nickname}"
                            class="text-2xl px-5"></div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="h-28">
        <ul class="flex h-full">
            <li class="flex items-center justify-center h-full w-1/3 hover:bg-slate-300">
                <a href="/friends">
                    <img th:src="@{/images/icon_friends.png}" alt="친구목록"
                    class="w-12 h-12 object-contain"/>
                </a>
            </li>
            <li class="flex items-center justify-center h-full w-1/3 hover:bg-slate-300">
                <a href="/">
                    <img th:src="@{/images/icon_search.png}" alt="검색"
                        class="w-12 h-12 object-contain"/>
                </a>
            </li>
            <li class="flex items-center justify-center h-full w-1/3 hover:bg-slate-300">
                <a href="/">
                    <img th:src="@{/images/icon_config.png}" alt="설정"
                        class="w-12 h-12 object-contain"/>
                </a>
            </li>
        </ul>
    </div>
</body>

<script>



</script>

</html>