<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" th:href="@{/favicon.ico}" />
    <meta th:name="_csrf" th:content="${_csrf.token}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캣톡 : CATTALK</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/fonts-local.css}">
</head>

<body class="h-dvh max-w-[60rem] m-auto noto-sans-kr flex flex-col">


    <header>
        <div th:replace="~{layout/header :: header}"></div>
        <div class="relative">
            <div
                class="w-3/4 px-5 py-3 bg-white rounded-3xl flex items-center justify-center fixed top-28 left-0 right-0 max-w-[40rem] m-auto z-50">
                <input type="text" id="findNickname" name="findNickname" placeholder="친구 닉네임을 입력해주세요"
                    class="w-5/6 outline-none focus:placeholder-transparent text-center placeholder:text-center" />
                <button id="searchButton" class="w-1/6">
                    검색
                </button>
            </div>
        </div>
    </header>


    <div class="flex-1 bg-amber-700/30 py-24">
        <ul id="searchResults" class="mt-20">
            <!-- 검색 결과가 여기에 표시됩니다 -->
        </ul>
    </div>


    <footer>
        <div th:replace="~{layout/footer :: footer}"></div>
    </footer>


    
    <div th:replace="~{common/confirm_modal :: fragConfirmModal('친구추가')}"></div>

    <script th:src="@{/js/search.js}"></script>

</body>
</html>