<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" th:href="@{/favicon.ico}" />
    <meta th:name="_csrf" th:content="${_csrf.token}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캣톡 : CATTALK</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/fonts-local.css}">
</head>

<body class="h-screen max-w-[60rem] m-auto noto-sans-kr flex flex-col">


    <div th:replace="~{common/confirm_modal :: fragConfirmModal('테스트')}"></div>


</body>


</html>