<div th:fragment="footer" class="h-28">
    <ul class="flex h-full">
        <li class="flex items-center justify-center h-full w-1/3 hover:bg-slate-300">
            <a href="/friends">
                <img th:src="@{/images/icon_friends.png}" alt="친구목록"
                class="w-12 h-12 object-contain"/>
            </a>
        </li>
        <li class="flex items-center justify-center h-full w-1/3 hover:bg-slate-300">
            <a href="/search">
                <img th:src="@{/images/icon_search.png}" alt="검색"
                    class="w-12 h-12 object-contain"/>
            </a>
        </li>
        <li class="flex items-center justify-center h-full w-1/3 hover:bg-slate-300">
            <a href="/config">
                <img th:src="@{/images/icon_config.png}" alt="설정"
                    class="w-12 h-12 object-contain"/>
            </a>
        </li>
    </ul>
</div>