<div th:fragment="footer" class="h-24 bg-white fixed bottom-0 left-0 right-0 max-w-[60rem] m-auto z-50">
    <ul class="flex h-full">
        <li class="h-full w-1/3 hover:bg-slate-300">
            <a href="/friends" class="w-full h-full flex items-center justify-center">
                <img th:src="@{/images/icon_friends.png}" alt="친구목록"
                class="w-12 h-12 object-contain"/>
            </a>
        </li>
        <li class="h-full w-1/3 hover:bg-slate-300">
            <a href="/search" class="w-full h-full flex items-center justify-center">
                <img th:src="@{/images/icon_search.png}" alt="검색"
                    class="w-12 h-12 object-contain"/>
            </a>
        </li>
        <li class="h-full w-1/3 hover:bg-slate-300">
            <a href="/config" class="w-full h-full flex items-center justify-center">
                <img th:src="@{/images/icon_config.png}" alt="설정"
                    class="w-12 h-12 object-contain"/>
            </a>
        </li>
    </ul>
</div>